image rk3562-debian.img {
    hdimage {
        partition-table-type = "gpt"
    }

    # Rockchip specific partitions
    partition idbloader {
        image = "idbloader.img"
        offset = 32K
    }

    partition uboot {
        image = "u-boot.itb"
        offset = 8M
    }

    # Standard Linux Boot / RootFS
    partition boot {
        partition-type-uuid = "F" # VFAT/ext4 type indicator
        bootable = "true"
        image = "boot.vfat"
        offset = 16M
    }

    partition rootfs {
        partition-type-uuid = "0fc63daf-8483-4772-8e79-3d69d8477de4" # Linux root data
        partition-uuid = "c0ffee11-2233-4455-6677-8899aabbccdd"
        image = "rootfs.ext4"
        offset = 272M
    }
}

image boot.vfat {
    vfat {
        file extlinux {
            image = "boot/extlinux"
        }
        file Image {
            image = "boot/Image"
        }
        file rk3562.dtb {
            image = "boot/rk3562.dtb"
        }
        file rk3562-fallback.dtb {
            image = "boot/rk3562-fallback.dtb"
        }
    }
    size = 256M
}
